body, html {
  height: 100%;
  background-image: url("Images/Fitness.jpg");
}

div{
  color: white;
}

img {
  opacity: 100;
  filter: alpha(opacity=100);
  full size;
}
li{
  color:navy ;
}
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

body {
  background-image: url("Images/Fitness.jpg");
  padding-top: 5rem;

}
ul {
list-style: none;
padding: 0;
margin-bottom: 10%;
font-size: 1em;
display: flex;
justify-content: space-evenly;
font-family: arial;
font-size: 2em;
}


li#lower {
  margin-top: 5%;
  }

li#lowest {
  margin-top: 15%;
  }
div.contrast {
background-color: rgb(0,0,0);
color: rgb(255,255,255);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.examples {
  font-size: 12px;
}

}
.example {
  margin-right: 14px;
}
div{

}

.something-bigger {
  color: navy;
  font-size: 4em;
  text-align: center;

}

.something-big {
  color: navy;
  font-size: 8em;
  text-align: center;
}

h1{ color: navy;
  font-size: 100px;

}
h2{
color: navy;
  font-size: 24px;
p{
  color: navy;
}
}
